/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --accent-text-color: #ff0070;
  --accented-subtext-color: #000028;
  --btn-hover-outline-color: rgba(255, 0, 112, 0.4);
  --should-show-rec: inline-block;
  --page-bg-image-url: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --accent-text-color: #ff0070;
    --accented-subtext-color: #000028;
    --btn-hover-outline-color: rgba(255, 0, 112, 0.4);
    --should-show-rec: inline-block;
    --page-bg-image-url: url(../images/cover-image-dark.png);
  }
}
