/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --accent-text-color: #353430;
  --accented-subtext-color: #353430;
  --btn-hover-outline-color: rgba(50, 49, 45, 0.4);
  --should-show-rec: none;
  --page-bg-image-url: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --accent-text-color: #353430;
    --accented-subtext-color: #353430;
    --should-show-rec: none;
    --page-bg-image-url: url(../images/cover-image-light.png);
  }
}
