/* GENERAL STYLES */
*:focus {
  outline: none;
}

.page {
  background-color: var(--bg-color);
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.link:hover::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.decorated-zone {
  --decoration-pos-offset: clamp(10px, -2.545px + 3.333vw, 20px);
  position: relative;
}

.decoration-up {
  position: absolute;
  top: var(--decoration-pos-offset);
  right: var(--decoration-pos-offset);
}

.decoration-up_border {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-text-color);
  border-right: 1px solid var(--accent-text-color);
}

.decoration-up_circle {
  display: var(--should-show-rec);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.decoration-up_rec {
  position: absolute;
  right: 25px;
  display: var(--should-show-rec);
  color: var(--accent-color);
}

.decoration-down {
  position: absolute;
  bottom: var(--decoration-pos-offset);
  left: var(--decoration-pos-offset);
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-text-color);
  border-left: 1px solid var(--accent-text-color);
}

.title {
  color: var(--title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 5.81rem + 5.333vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px var(--accent-color);
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  height: 100vh;
  padding: clamp(10px, -2.545px + 3.333vw, 20px);
  background-image: var(--header-bg-image-url);
  background-position: center;
  background-size: cover;
}

.header__paragraph {
  color: var(--accented-subtext-color);
  font-weight: bold;
  font-size: 1.125rem;
  background-color: var(--accent-color);
  line-height: 130%;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: calc(10px + 0.0625rem * 2);
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px 0.0625rem;
  color: var(--accent-text-color);
  font-size: 1.125rem;
  text-transform: lowercase;
  background-color: transparent;
  appearance: none;
}

.header__theme-menu-button[disabled] {
  outline: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--btn-hover-outline-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

/* CONTENT */
.content {
  display: flex;
  flex-direction: column;
  gap: clamp(50px, calc(10px + 9.5vw), 80px);
  margin: clamp(40px, 7.5vw, 60px) 0;
  padding: 0 clamp(10px, -2.545px + 3.333vw, 20px);
  color: var(--text-color);
  font-size: 1.125rem;
  line-height: 130%;
}

.content__section_title {
  margin-bottom: 20px;
  color: var(--accent-text-color);
  font-weight: bold;
  font-size: 1.125rem;
}

.content__section-list_title {
  margin-bottom: 10px;
  color: var(--accented-subtext-color);
  font-weight: bold;
  font-size: 1.125rem;
  background-color: var(--accent-color);
}

.content__section_container .content__section-list_title {
  margin-bottom: 20px;
}

.content__section_list-item:not(:last-child) {
  margin-bottom: 20px;
}

.content__section-list_subtitle {
  margin-bottom: 10px;
  color: var(--accented-subtext-color);
  font-weight: normal;
  font-size: 1.125rem;
  background-color: var(--accent-color);
}

.content__galery-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__gallery-image {
  width: 100%;
}

/* FOOTER */
.footer {
  --should-show-rec: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}