/* GENERAL STYLES */
*:focus {
  outline: none;
}

.page {
  background-color: var(--bg-color);
  background-image: var(--page-bg-image-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hightlighted-text {
  color: var(--accented-subtext-color);
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 130%;
  background-color: var(--accent-color);
}

.font-weight-normal {
  font-weight: normal;
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.link:hover::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: var(--ten-to-twenty-px-clamp);
  left: var(--ten-to-twenty-px-clamp);
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-text-color);
  border-left: 1px solid var(--accent-text-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: var(--ten-to-twenty-px-clamp);
  right: var(--ten-to-twenty-px-clamp);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-text-color);
  border-right: 1px solid var(--accent-text-color);
}

.decoration-rec {
  position: absolute;
  top: var(--ten-to-twenty-px-clamp);
  right: var(--ten-to-twenty-px-clamp);
  display: var(--should-show-rec);
  color: var(--accent-color);
  font-size: 1.125rem;
  line-height: 25px;
}

.decoration-rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 9px 2px 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.title {
  color: var(--title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 5.81rem + 5.333vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px var(--accent-color);
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  height: clamp(668px, 100vh, 100vh);
  padding: var(--ten-to-twenty-px-clamp);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: calc(10px + 0.0625rem * 2);
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px 0.0625rem;
  color: var(--accent-text-color);
  font-size: 1.125rem;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button[disabled] {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--btn-hover-outline-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

/* CONTENT */
.content {
  display: flex;
  flex-direction: column;
  gap: clamp(50px, calc(10px + 9.5vw), 80px);
  margin: clamp(40px, 7.5vw, 60px) 0;
  padding: 0 var(--ten-to-twenty-px-clamp);
  color: var(--text-color);
  font-size: 1.125rem;
  line-height: 130%;
}

.content__section_title {
  margin-bottom: 20px;
  color: var(--accent-text-color);
  font-weight: bold;
  font-size: 1.125rem;
}

.hightlighted-text + .content__section-list-paragraph,
.content__section-list-paragraph + .content__section-list-paragraph {
  margin-top: 10px;
}

.content__section_container > .hightlighted-text {
  margin-bottom: 20px;
}

.content__section_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__gallery-list {
  gap: var(--ten-to-twenty-px-clamp);
  margin-top: var(--ten-to-twenty-px-clamp);
}

.content__gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(668px, 100vh, 100vh);
}

@media (width >= 600px) {
  .title {
    font-size: clamp(7.5rem, 0.535rem + 14.5vw, 9.8125rem);
  }

  .header {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding-left: 0;
  }

  .header__title {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .header__theme-menu {
    grid-column: 2;
    grid-row: 1;
  }

  .header__paragraph {
    grid-column: 2 / 3;
    grid-row: 3;
  }

  .content__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 1fr;
    column-gap: 20px;
  }

  .content__section:has(.content__gallery-list) {
    display: block;
  }

  .content__gallery-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
  }

  .content__gallery-list_item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .content__gallery-list_item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .content__gallery-list_item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .content__gallery-list_item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .content__gallery-list_item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .content__focus-concentration .content__section_list {
    grid-column: 1 / 3;
    grid-row: 2;
  }
}

@media (width >=1000px) {
  .header__theme-menu {
    grid-column: 1 / 3;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
    margin-left: 20px; /*компенсация отсутствия левого падинга у шапки*/
  }

  .content__focus-concentration .content__section_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
