:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}
