/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

@media (width >=600px) {
  .title {
    font-size: clamp(7.5rem, 0.56rem + 14.5vw, 9.8125rem);
  }

  .header {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding-left: 0;
  }

  .header__title {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .header__theme-menu {
    grid-column: 2;
    grid-row: 1;
  }

  .header__paragraph {
    grid-column: 2 / 3;
    grid-row: 3;
  }

  .content__why-is-so-hard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .content__how-to-focus {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .content__gallery-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content 1fr max-content;
    margin-top: 20px;
  }

  .content__gallery-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .content__gallery-list_item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .content__gallery-list_item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .content__gallery-list_item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .content__gallery-list_item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .content__gallery-list_item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .content__focus-concentration {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 1fr;
    column-gap: 20px;
  }

  .content__focus-concentration .content__section_list {
    grid-column: 1 / 3;
    grid-row: 2;
  }
}

@media (width >=1000px) {
  .header__theme-menu {
    grid-column: 1 / 3;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
    margin-left: 20px; /*компенсация отсутствия левого падинга у шапки*/
  }

  .content__focus-concentration .content__section_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}