/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --ten-to-twenty-px-clamp: clamp(10px, -2.545px + 3.333vw, 20px);
  --decoration-pos-offset: var(--ten-to-twenty-px-clamp);
}
